<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>

  <% unless current_user.token %>
    <%= button_to 'Connect to Github', github_login_path, class: "btn btn-primary mb1 bg-teal" %>
  <% end %>

  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <% if current_user.token %>
    <section class="github">
      <%= render 'partials/repos' %>
      <%= render 'partials/followers' %>
      <%= render 'partials/friends' %>
    </section>
  <% end %>
  <% if !current_user.friends.empty? %>
    <section>
    <%= render 'partials/my_friends' %>
    </section>
  <% end %>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
</section>
